Repository denchiklut/ssr-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: comments - add comments
  @types/app/index.d.ts
  src/server/middleware/logger/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: comments - add comments
  webpack/plugins/tsChecker.plugin.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: comments - dev-server
  webpack/configs/client.config.ts
  webpack/utils/devServer.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: env
  assets/spa/index.html
  package.json
  webpack/env.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: node 18
  .node-version
  .nvmrc
Due: none

feat: node 18
  package.json
  src/server/middleware/render/render.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: dependabot
  .editorconfig
  .github/dependabot.yml
  .prettierrc
  @types/app/index.d.ts
  @types/env/index.d.ts
  webpack/plugins/define.plugin.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: lazy.util - fix types for lazy
  src/client/utils/lazy.util.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: bootstrap.util.ts - mv bootstrap logic to util
  src/client/index.tsx
  src/client/utils/bootstrap.util.ts
  src/client/utils/index.ts
  src/server/middleware/render/render.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: babel - setup babel targets in ssr mode - setup babel cache
  .babelrc
  @types/app/index.d.ts
  package.json
  webpack/rules/loaders.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: data-router - switch to react data-router
  package.json
  src/client/components/@shared/app/app.tsx
  src/client/components/@shared/app/index.ts
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/app/layout/index.tsx
  src/client/components/@shared/app/routes/index.tsx
  src/client/components/@shared/error/index.tsx
  src/client/components/@shared/layout/index.tsx
  src/client/index.tsx
  src/client/pages/not-found/index.tsx
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/utils/index.ts
  src/server/utils/request/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: env vars - add env vars setup - add debug helper - update readme
  .env.example
  @types/env/index.d.ts
  README.md
  config/spec/setup.ts
  jest.config.ts
  src/client/components/home/index.tsx
  src/common/debugger/debugger.util.ts
  src/common/debugger/index.ts
  src/common/env/env.util.ts
  src/common/env/index.ts
  src/common/index.ts
  src/server/middleware/render/render.util.ts
  tsconfig.json
  webpack/plugins/define.plugin.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: pwa - setup PWA
  .node-version
  README.md
  assets/offline/index.html
  package.json
  pwa/manifest.json
  pwa/sw.ts
  src/client/utils/bootstrap.util.ts
  src/client/utils/index.ts
  src/client/utils/pwa.util.ts
  src/server/middleware/render/render.util.ts
  src/server/utils/bootstrap/index.ts
  webpack/configs/client.config.ts
  webpack/configs/spa.config.ts
  webpack/plugins/copy.plugin.ts
  webpack/plugins/html.plugin.ts
  webpack/plugins/index.ts
  webpack/plugins/workBox.plugin.ts
  webpack/utils/devServer.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: data example - add loader example
  src/client/api/index.ts
  src/client/api/posts.api.ts
  src/client/components/@shared/app/routes/index.tsx
  src/client/components/home/home.spec.tsx
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/components/home/state/index.tsx
  src/client/components/home/state/state.spec.tsx
  src/common/env/env.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: data example - update readme
  README.md
Due: prettier --write

feat: dist structure - restructure dist - add healthcheck - add rate-limit middleware - update npm dependencies
  .node-version
  package.json
  pwa/manifest.json
  src/server/controller/health/index.ts
  src/server/controller/index.ts
  src/server/controller/pwa/index.ts
  src/server/index.ts
  src/server/middleware/favicon/index.ts
  src/server/middleware/hmr/index.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/index.ts
  src/server/middleware/limit/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/router/health.ts
  src/server/router/index.ts
  src/server/router/pwa.ts
  src/server/router/static.ts
  webpack/configs/client.config.ts
  webpack/configs/express.config.ts
  webpack/configs/server.config.ts
  webpack/configs/spa.config.ts
  webpack/env.ts
  webpack/plugins/copy.plugin.ts
  webpack/plugins/define.plugin.ts
  webpack/plugins/hmr.plugin.ts
  webpack/plugins/html.plugin.ts
  webpack/plugins/miniCssExtract.plugin.ts
  webpack/plugins/refresh.plugin.ts
  webpack/plugins/workBox.plugin.ts
  webpack/rules/loaders.ts
  webpack/utils/devServer.ts
  webpack/utils/env/env.utils.ts
  webpack/utils/env/index.ts
  webpack/utils/index.ts
  webpack/utils/optimization.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: dist structure (#8)
  .node-version
  package.json
  pwa/manifest.json
  src/server/controller/health/index.ts
  src/server/controller/index.ts
  src/server/controller/pwa/index.ts
  src/server/index.ts
  src/server/middleware/favicon/index.ts
  src/server/middleware/hmr/index.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/index.ts
  src/server/middleware/limit/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/router/health.ts
  src/server/router/index.ts
  src/server/router/pwa.ts
  src/server/router/static.ts
  webpack/configs/client.config.ts
  webpack/configs/express.config.ts
  webpack/configs/server.config.ts
  webpack/configs/spa.config.ts
  webpack/env.ts
  webpack/plugins/copy.plugin.ts
  webpack/plugins/define.plugin.ts
  webpack/plugins/hmr.plugin.ts
  webpack/plugins/html.plugin.ts
  webpack/plugins/miniCssExtract.plugin.ts
  webpack/plugins/refresh.plugin.ts
  webpack/plugins/workBox.plugin.ts
  webpack/rules/loaders.ts
  webpack/utils/devServer.ts
  webpack/utils/env/env.utils.ts
  webpack/utils/env/index.ts
  webpack/utils/index.ts
  webpack/utils/optimization.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: rate limit - disable rate-limit for dev
  src/server/middleware/index.ts
  src/server/middleware/rate-limit/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: rate limit (#9)
  src/server/middleware/index.ts
  src/server/middleware/rate-limit/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: rate limit - adjust rate-limit
  src/server/middleware/rate-limit/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: pwa - refactor pwa routes
  package.json
  src/server/controller/index.ts
  src/server/controller/pwa/index.ts
  src/server/index.ts
  src/server/middleware/index.ts
  src/server/middleware/rate-limit/index.ts
  src/server/router/index.ts
  src/server/router/pwa.ts
  src/server/router/static.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: cleanup
  src/server/middleware/render/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: runtime env vars
  src/common/env/env.util.ts
  webpack/plugins/define.plugin.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: npm-update - update npm dependencies
  package.json
Due: prettier --write

feat: npm-update - update babel-core
  package.json
Due: prettier --write

Feat/update (#10)
  package.json
Due: prettier --write

feat: npm-update - update @loadable/server - update @loadable/babel-plugin
  package.json
Due: prettier --write

feat: npm-update - update dependencies
  package.json
Due: prettier --write

feat: update loadable dependencies (#11)
  package.json
Due: prettier --write

feat: error handler - add error middleware
  src/server/index.ts
  src/server/middleware/error/index.ts
  src/server/middleware/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: error handler (#12)
  src/server/index.ts
  src/server/middleware/error/index.ts
  src/server/middleware/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: env decoder - added env decoder - setup env validation
  .env.example
  @types/app/index.d.ts
  @types/env/index.d.ts
  README.md
  config/spec/global.ts
  jest.config.ts
  package.json
  setup.sh
  src/client/components/@shared/app/app.tsx
  src/client/components/home/index.tsx
  src/client/index.tsx
  src/common/decoder/index.ts
  src/common/env/env.util.ts
  src/common/index.ts
  src/common/path/index.ts
  src/common/path/path.spec.ts
  src/common/path/path.util.ts
  src/server/controller/index.ts
  src/server/controller/version/index.ts
  src/server/middleware/index.ts
  src/server/middleware/pwa/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/router/index.ts
  src/server/router/static.ts
  src/server/router/version.ts
  src/server/utils/bootstrap/index.ts
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
  webpack/utils/env/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: env decoder (#13)
  .env.example
  @types/app/index.d.ts
  @types/env/index.d.ts
  README.md
  config/spec/global.ts
  jest.config.ts
  package.json
  setup.sh
  src/client/components/@shared/app/app.tsx
  src/client/components/home/index.tsx
  src/client/index.tsx
  src/common/decoder/index.ts
  src/common/env/env.util.ts
  src/common/index.ts
  src/common/path/index.ts
  src/common/path/path.spec.ts
  src/common/path/path.util.ts
  src/server/controller/index.ts
  src/server/controller/version/index.ts
  src/server/middleware/index.ts
  src/server/middleware/pwa/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/router/index.ts
  src/server/router/static.ts
  src/server/router/version.ts
  src/server/utils/bootstrap/index.ts
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
  webpack/utils/env/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: cleanup
  .babelrc
  src/common/decoder/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: pwa - setup sw - setup sw update
  package.json
  pwa/sw.ts
  src/client/components/@shared/app/app.tsx
  src/client/utils/bootstrap.util.ts
  src/client/utils/index.ts
  src/client/utils/pwa.util.ts
  src/client/utils/pwa/index.ts
  src/client/utils/pwa/pwa.hook.ts
  src/client/utils/pwa/pwa.util.ts
  tsconfig.json
  webpack/plugins/html.plugin.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: pwa (#14)
  package.json
  pwa/sw.ts
  src/client/components/@shared/app/app.tsx
  src/client/utils/bootstrap.util.ts
  src/client/utils/index.ts
  src/client/utils/pwa.util.ts
  src/client/utils/pwa/index.ts
  src/client/utils/pwa/pwa.hook.ts
  src/client/utils/pwa/pwa.util.ts
  tsconfig.json
  webpack/plugins/html.plugin.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: pwa - cleanup
  pwa/sw.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: pwa - cleanup
  pwa/sw.ts
  src/client/utils/pwa/pwa.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: fix webpack validation - update npm deps - fix webpack config
  package.json
  src/server/utils/bootstrap/index.ts
  webpack/configs/client.config.ts
  webpack/configs/spa.config.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: cleanup
  src/server/middleware/render/render.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

Path conditions:
  jest --passWithNoTests --findRelatedTests: any of: *.{ts,tsx}
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{html,md,json})
  stylelint --fix: any of: *.{css,scss}
