Repository denchiklut/ssr-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
	"*.{ts,tsx}": [
		"jest --passWithNoTests --findRelatedTests",
		"eslint --cache --fix",
		"prettier --write"
	],
	"*.{css,scss}": [
		"stylelint --fix",
		"prettier --write"
	],
	"*.{html,md,json}": [
		"prettier --write"
	]
}

feat: navigation laoder
  src/client/components/@shared/layout/index.tsx
  src/client/components/@shared/navigation-loader/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: cleanup
  rspack/configs/client.config.ts
  rspack/configs/server.config.ts
  rspack/rules/common.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: logger.error
  package.json
  pnpm-lock.yaml
  src/common/logger/server/winston/logger/formatters/error/index.ts
  src/common/logger/server/winston/logger/formatters/error/utils.ts
  src/common/logger/server/winston/logger/formatters/index.ts
  src/common/logger/server/winston/logger/formatters/metadata/index.ts
  src/common/logger/server/winston/logger/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  src/server/index.ts
  src/server/middleware/hmr/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: switched to jiti
  package.json
Due: prettier --write

chore: readme
  README.md
  rspack/rules/common.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: redirects
  docs/rsc.md
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/layout/index.tsx
  src/client/pages/private/index.tsx
  src/server/middleware/render/rsc.tsx
  src/server/middleware/render/ssr.tsx
  src/server/navigation/index.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: decodeAction repro
  REPRO.md
  package.json
  scripts/repro-form-action.mjs
Due: prettier --write

feat: repro md
  REPRO.md
Due: prettier --write

feat: onError log
  src/server/middleware/render/rsc.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: renderLock
  README.md
  docs/response.md
  docs/rsc.md
  package.json
  pnpm-lock.yaml
  src/client/components/@shared/html/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/pages/not-found/index.tsx
  src/client/pages/private/index.tsx
  src/server/middleware/render/finalize.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/rsc.tsx
  src/server/request/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: docs
  docs/response.md
  docs/rsc.md
  src/client/components/home/posts/index.tsx
  src/client/pages/private/index.tsx
  src/server/middleware/render/finalize.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: remove lock timout
  docs/response.md
  src/client/components/home/index.tsx
  src/client/pages/home/index.tsx
  src/server/middleware/render/finalize.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/rsc.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: response API
  README.md
  docs/response.md
  docs/rsc.md
  src/client/components/home/posts/index.tsx
  src/client/pages/not-found/index.tsx
  src/client/pages/private/index.tsx
  src/server/middleware/render/finalize.ts
  src/server/middleware/render/index.tsx
  src/server/request/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: redirect as part of response
  docs/rsc.md
  src/client/pages/private/index.tsx
  src/server/middleware/render/basename.ts
  src/server/middleware/render/rsc.tsx
  src/server/navigation/index.ts
  src/server/request/index.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: `@/rsc` aliase
  README.md
  docs/rsc.md
  src/client/components/@shared/html/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/pages/not-found/index.tsx
  src/client/pages/private/index.tsx
  src/server/middleware/render/finalize.ts
  src/server/middleware/render/rsc.tsx
  src/server/utils/rsc/index.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: client Redirect
  docs/rsc.md
  src/client/utils/pwa/pwa.hook.ts
  src/client/utils/redirect/index.ts
  src/client/utils/redirect/redirect.tsx
  src/client/utils/redirect/redirect.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: redirect hold
  docs/rsc.md
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/layout/index.tsx
  src/client/components/@shared/navigation-loader/index.tsx
  src/client/components/@shared/navigation-loader/styles.scss
  src/client/components/home/cookie-demo/index.tsx
  src/client/components/private-client/index.tsx
  src/client/pages/private-client/index.tsx
  src/client/utils/redirect/redirect.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: esm
  README.md
  config/postcss/postcss.cjs
  docs/rsc.md
  package.json
  rspack/configs/client.config.ts
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/rules/common.ts
  src/server/middleware/render/render.util.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write
