Repository denchiklut/ssr-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

chore: jest types
  @types/env/index.d.ts
  @types/utils/index.d.ts
  config/spec/setup.ts
  src/common/env/env.util.ts
  src/server/middleware/error/index.ts
  webpack/configs/spa.config.ts
  webpack/plugins/define.plugin.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: dev-server refactor
  webpack/utils/devServer.ts
  webpack/utils/url.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: nodemon restart on .env
  nodemon.json
  webpack/utils/dev-server/index.ts
  webpack/utils/dev-server/url.ts
  webpack/utils/index.ts
  webpack/utils/optimization/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: small fixes - fixed nodemon restart on .env - fixed basename
  @types/env/index.d.ts
  config/spec/setup.ts
  nodemon.json
  src/client/components/@shared/app/index.tsx
  src/client/index.tsx
  src/common/env/env.util.ts
  src/server/middleware/render/index.tsx
  webpack/configs/client.config.ts
  webpack/plugins/define.plugin.ts
  webpack/utils/dev-server/index.ts
  webpack/utils/dev-server/url.ts
  webpack/utils/index.ts
  webpack/utils/optimization/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: react-cookie - added cookie demo
  @types/app/index.d.ts
  @types/env/index.d.ts
  package.json
  src/client/components/@shared/app/index.tsx
  src/client/components/home/cookie-demo/index.tsx
  src/client/components/home/cookie-demo/styles.scss
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/components/home/state/index.tsx
  src/common/types/index.ts
  src/server/index.ts
  src/server/middleware/cookie/index.ts
  src/server/middleware/index.ts
  src/server/middleware/render/index.tsx
  yarn.lock
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

chore: npm update
  package.json
  src/common/env/index.ts
  yarn.lock
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: webpack public path
  webpack/utils/env/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: serve public folder
  README.md
  jest.config.ts
  public/icons/192.png
  public/icons/512.png
  public/icons/favicon.ico
  public/icons/maskable.png
  public/offline/index.html
  public/spa/index.html
  src/server/middleware/favicon/index.ts
  src/server/router/static.ts
  tsconfig.json
  webpack/plugins/copy.plugin.ts
  webpack/plugins/html.plugin.ts
  webpack/utils/dev-server/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: serve public folder (#33)
  README.md
  jest.config.ts
  public/icons/192.png
  public/icons/512.png
  public/icons/favicon.ico
  public/icons/maskable.png
  public/offline/index.html
  public/spa/index.html
  src/server/middleware/favicon/index.ts
  src/server/router/static.ts
  tsconfig.json
  webpack/plugins/copy.plugin.ts
  webpack/plugins/html.plugin.ts
  webpack/utils/dev-server/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: updated react-forget
  .babelrc
  config/react-forget/index.js
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

feat: updated react-forget (#34)
  .babelrc
  config/react-forget/index.js
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

fix: basename useLoader
  .babelrc
  src/server/middleware/render/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: README.md
  README.md
Due: prettier --write

feat: updated react-forget
  .babelrc
  README.md
  yarn.lock
Due: prettier --write

fix: port
  .babelrc
  src/server/utils/bootstrap/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: add og meta
  src/client/components/@shared/html/index.tsx
  src/client/components/@shared/page/index.tsx
  src/client/pages/about/index.tsx
  src/client/pages/home/index.tsx
  src/client/pages/not-found/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: updated dependencies
  package.json
  src/client/api/posts.api.ts
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/components/home/styles.scss
  src/server/middleware/render/index.tsx
  yarn.lock
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: updated dependencies
  package.json
  src/client/api/index.ts
  src/client/api/todos.api.ts
  src/client/components/home/posts/index.tsx
  src/client/components/home/posts/posts.api.ts
  src/client/components/home/styles.scss
  src/server/middleware/render/index.tsx
  yarn.lock
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

chore: rm redundant react-router-dom
  package.json
  src/client/components/@shared/app/layout/index.tsx
  src/client/index.tsx
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  yarn.lock
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: update react-forget
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

chore: rm redundant react-router-dom
  package.json
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/layout/index.tsx
  src/client/index.tsx
  src/client/utils/bootstrap.util.ts
  src/server/middleware/render/index.tsx
  yarn.lock
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: update types for env_vars
  @types/env/index.d.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: mv NODE_ENV to client
  @types/env/index.d.ts
  src/common/env/env.util.ts
  src/common/env/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: eslint
  eslint.config.mjs
  package.json
  src/client/utils/lazy.util.tsx
  yarn.lock
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

fix: eslint
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

fix: prettier
  eslint.config.mjs
Due: none

fix: globalIgnores
  eslint.config.mjs
Due: none

fix: env util
  src/common/env/env.util.ts
  src/server/middleware/render/render.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

update client logger in prod
  src/common/logger/client/utils/print/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: coerce URL
  .husky/post-commit
  .husky/pre-commit
  src/common/env/index.ts
  src/server/utils/bootstrap/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

Path conditions:
  jest --passWithNoTests --findRelatedTests: any of: *.{ts,tsx}
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{html,md,json})
  stylelint --fix: any of: *.{css,scss}
