Repository denchiklut/ssr-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
	"*.{ts,tsx}": [
		"jest --passWithNoTests --findRelatedTests",
		"eslint --cache --fix",
		"prettier --write"
	],
	"*.{css,scss}": [
		"stylelint --fix",
		"prettier --write"
	],
	"*.{html,md,json}": [
		"prettier --write"
	]
}

feat: dev
  README.md
  nodemon.json
  package.json
  pnpm-lock.yaml
  rspack/configs/client.config.ts
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/plugins/define.plugine.ts
  rspack/plugins/index.ts
  rspack/plugins/limit.plugin.ts
  rspack/plugins/stats.plugin.ts
  rspack/utils/env/index.ts
  src/client/components/@shared/app/index.tsx
  src/server/middleware/hmr/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: jest
  config/spec/setup.ts
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: lint-staged
  .husky/pre-commit
  .lintstagedrc
  .node-version
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/server/middleware/hmr/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: ci
  .github/actions/setup/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/pnpm-cache.yml
  package.json
Due: prettier --write

feat: css
  config/postcss/postcss.js
  package.json
  pnpm-lock.yaml
  rspack/configs/client.config.ts
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/configs/spa.config.ts
  rspack/env/index.ts
  rspack/env/utils.ts
  rspack/plugins/copy.plugin.ts
  rspack/plugins/css.plugin.ts
  rspack/plugins/define.plugine.ts
  rspack/plugins/hmr.plugin.ts
  rspack/plugins/html.plugin.ts
  rspack/plugins/index.ts
  rspack/plugins/refresh.plugin.ts
  rspack/plugins/stats.plugin.ts
  rspack/rules/common.ts
  rspack/utils/index.ts
  src/client/components/home/index.tsx
  src/client/components/home/styles.css
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: sm
  rspack/configs/client.config.ts
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/configs/spa.config.ts
  rspack/rules/common.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: scss
  package.json
  pnpm-lock.yaml
  rspack/configs/spa.config.ts
  rspack/rules/common.ts
  src/client/components/@shared/html/global.scss
  src/client/components/@shared/html/index.tsx
  src/client/components/home/index.tsx
  src/client/components/home/styles.css
  src/client/components/home/styles.scss
  src/client/styles/colors.scss
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: scss
  .lintstagedrc
  .stylelintrc.json
  biome.json
  package.json
  pnpm-lock.yaml
  public/offline/index.html
  public/spa/index.html
  src/client/components/@shared/app/global.css
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/html/index.tsx
  src/client/styles/colors.scss
  src/common/types/index.ts
  src/server/middleware/render/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: preload links
  @types/utils/index.d.ts
  biome.json
  src/client/components/@shared/app/global.scss
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/html/index.tsx
  src/common/types/index.ts
  src/server/middleware/render/index.tsx
  src/server/utils/chunk-extractor/chunk-extractor.ts
  src/server/utils/chunk-extractor/types.ts
  src/server/utils/chunk-extractor/utils.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: aliases
  .github/actions/setup/action.yml
  .github/workflows/main.yml
  .github/workflows/pnpm-cache.yml
  jest.config.ts
  rspack/configs/client.config.ts
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/configs/spa.config.ts
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/error/index.tsx
  src/client/components/@shared/html/index.tsx
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/components/home/styles.scss
  src/client/index.tsx
  src/client/pages/about/index.tsx
  src/client/pages/home/index.tsx
  src/client/pages/not-found/index.tsx
  src/client/styles/vars.scss
  src/server/controller/pwa/index.ts
  src/server/controller/version/index.ts
  src/server/middleware/error/index.ts
  src/server/middleware/logger/index.ts
  src/server/middleware/pwa/index.ts
  src/server/middleware/render/chunk-extractor/chunk-extractor.ts
  src/server/middleware/render/chunk-extractor/index.ts
  src/server/middleware/render/chunk-extractor/types.ts
  src/server/middleware/render/chunk-extractor/utils.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/router/pwa.ts
  src/server/router/version.ts
  src/server/utils/bootstrap/index.ts
  src/server/utils/index.ts
  src/server/utils/request/index.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write, stylelint --fix

feat: browserlist
  .browserslistrc
  package.json
  pnpm-lock.yaml
  rspack/configs/client.config.ts
  rspack/rules/common.ts
  src/common/logger/client/index.ts
  src/common/logger/client/utils/print/index.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: svgr
  README.md
  package.json
  pnpm-lock.yaml
  rspack/configs/client.config.ts
  rspack/configs/server.config.ts
  rspack/configs/spa.config.ts
  rspack/rules/common.ts
  src/client/components/home/demo/index.tsx
  src/client/components/home/demo/react.icon.svg
  src/client/components/home/demo/regular.svg
  src/client/components/home/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: setup tsgo for ts-check
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/client/utils/pwa/pwa.util.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: mv fetch to parent to stabilize promise
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: updated npm dependencies
  package.json
  pnpm-lock.yaml
  public/offline/index.html
  src/client/utils/pwa/pwa.util.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

chore: rtk
  package.json
  pnpm-lock.yaml
  src/client/api/todos.api.ts
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/query/index.tsx
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
  src/common/query-client/index.ts
  src/common/types/index.ts
  src/server/middleware/render/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: react-query
  @types/app/index.d.ts
  package.json
  pnpm-lock.yaml
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/html/index.tsx
  src/client/components/@shared/query/index.tsx
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/index.tsx
  src/common/index.ts
  src/common/query-client/index.ts
  src/common/types/index.ts
  src/server/middleware/render/index.tsx
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

docs: add server components implementation plan
  PLAN.md
Due: prettier --write

feat: react-query
  package.json
  pnpm-lock.yaml
  src/client/api/todos.api.ts
  src/client/components/@shared/app/index.tsx
  src/client/components/home/index.tsx
  src/client/components/home/posts/index.tsx
  src/common/types/index.ts
  src/server/middleware/render/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: react-query
  src/client/components/@shared/query/index.tsx
  src/common/query-client/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

docs: add TanStack Query section to README
  README.md
Due: prettier --write

chore: updated dependencies
  biome.json
  package.json
  pnpm-lock.yaml
  rspack/plugins/refresh.plugin.ts
  src/server/middleware/hmr/index.ts
  src/server/middleware/render/render.util.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: rsc
  @types/app/index.d.ts
  @types/rsc/index.d.ts
  PLAN.md
  package.json
  pnpm-lock.yaml
  rspack/configs/client.config.ts
  rspack/configs/server.config.ts
  rspack/plugins/index.ts
  rspack/plugins/rsc.plugin.ts
  rspack/rules/common.ts
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/app/providers.tsx
  src/client/components/@shared/layout/index.tsx
  src/client/components/@shared/query/index.tsx
  src/client/components/home/cookie-demo/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/components/home/state/index.tsx
  src/client/index.tsx
  src/common/types/index.ts
  src/server/controller/render/index.ts
  src/server/middleware/hmr/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/middleware/render/rsc.tsx
  src/server/middleware/render/ssr.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: logger src-attributes
  src/common/logger/server/index.ts
  src/common/logger/server/utils/get-src/index.ts
  src/common/logger/server/utils/index.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: logger src-attributes
  biome.json
  package.json
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/plugins/index.ts
  rspack/plugins/minimizer.plugin.ts
  rspack/rules/common.ts
  src/common/logger/client/index.ts
  src/common/logger/client/print/index.ts
  src/common/logger/client/print/print.util.ts
  src/common/logger/client/utils/index.ts
  src/common/logger/client/utils/print/index.ts
  src/common/logger/index.ts
  src/common/logger/server/index.ts
  src/common/logger/server/utils/index.ts
  src/common/logger/server/winston/index.ts
  src/common/logger/server/winston/logger/index.ts
  src/common/logger/server/winston/source/index.ts
  src/server/controller/health/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: logger src-attributes
  biome.json
  package.json
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/plugins/index.ts
  rspack/plugins/minimizer.plugin.ts
  rspack/rules/common.ts
  src/common/logger/client/console/index.ts
  src/common/logger/client/console/utils.ts
  src/common/logger/client/index.ts
  src/common/logger/client/utils/index.ts
  src/common/logger/client/utils/print/index.ts
  src/common/logger/index.ts
  src/common/logger/server/index.ts
  src/common/logger/server/utils/index.ts
  src/common/logger/server/winston/index.ts
  src/common/logger/server/winston/logger/index.ts
  src/common/logger/server/winston/source/index.ts
  src/common/logger/types/index.ts
  src/server/controller/health/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: logger src-attributes
  rspack/configs/express.config.ts
  rspack/configs/server.config.ts
  rspack/plugins/index.ts
  rspack/plugins/minimizer.plugin.ts
  rspack/rules/common.ts
  src/common/logger/client/console/index.ts
  src/common/logger/client/console/utils.ts
  src/common/logger/client/index.ts
  src/common/logger/client/utils/index.ts
  src/common/logger/client/utils/print/index.ts
  src/common/logger/index.ts
  src/common/logger/server/index.ts
  src/common/logger/server/utils/index.ts
  src/common/logger/server/winston/index.ts
  src/common/logger/server/winston/logger/index.ts
  src/common/logger/server/winston/source/index.ts
  src/common/logger/types/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: rsc
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/app/providers.tsx
  src/client/components/@shared/html/index.tsx
  src/client/components/home/posts/index.tsx
  src/client/index.tsx
  src/common/types/index.ts
  src/server/middleware/render/ssr.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: rsc
  @types/env/index.d.ts
  PLAN.md
  README.md
  config/spec/setup.ts
  package.json
  pnpm-lock.yaml
  rspack/configs/spa.config.ts
  rspack/plugins/define.plugine.ts
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/app/providers.tsx
  src/client/components/@shared/html/index.tsx
  src/client/components/home/demo/index.tsx
  src/client/index.tsx
  src/client/utils/bootstrap.util.ts
  src/client/utils/index.ts
  src/common/env/index.ts
  src/common/index.ts
  src/common/types/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/middleware/render/rsc.tsx
  src/server/request/index.ts
  tsconfig.json
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: rsc (react-router v8)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/client/components/@shared/app/providers.tsx
  src/client/components/@shared/query/index.tsx
  src/client/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: cleanup
  rspack/configs/client.config.ts
  rspack/configs/server.config.ts
  rspack/rules/common.ts
  src/client/index.tsx
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: +demos
  src/client/components/home/index.tsx
  src/client/components/home/use-form-status/actions.ts
  src/client/components/home/use-form-status/index.tsx
  src/client/components/home/use-form-status/submit.tsx
  src/client/components/home/use-server/actions.ts
  src/client/components/home/use-server/index.tsx
  src/server/router/app.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: react compiler
  rspack/rules/common.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write

feat: docs
  docs/rsc.md
Due: prettier --write

feat: rsc hmr
  @types/app/index.d.ts
  docs/rsc.md
  src/client/index.tsx
  src/server/middleware/hmr/index.ts
Due: jest --passWithNoTests --findRelatedTests, eslint --cache --fix, prettier --write
